.header {
  display: grid;
  justify-content: center;
  text-align: center;
}

.workContainer {
  background-color: var(--darkGreen);
  min-height: 100vh;
}
.projectsSection {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.left,
.right {
  width: 100%;
  height: 100vh;
}
.left {
  background-color: var(--darkGreen);
  padding: 2rem;
}
.listOfProjects {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 5rem;
}
.indicator {
  display: inline-block;
  width: 4rem;
  height: 1px;
  background-color: var(--beige);
}
.indicatorActive {
  display: inline-block;
  width: 6rem;
  height: 1px;
  background-color: var(--beige);
}
.projectTitle {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.projectName {
  text-transform: uppercase;
  font-size: 0.8rem;
  color: rgb(178, 177, 177);
}
.projectNameActive {
  text-transform: uppercase;
  font-size: 1rem;
}
.projectDescription {
  text-align: justify;
}
.captionBottom {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
}
.icon {
  width: 2rem;
}
.projectImg {
  border-radius: 10px;
}
.techWrapper {
  display: flex;
  gap: 0.5rem;
}
.tech {
  border: 1px solid var(--pink);
  padding: 0.3rem;
  border-radius: 5px;
  font-size: var(--small-p-fs);
  /* background-color: rgba(0, 0, 0, 0.5);
  padding: 0.3rem;
  border-radius: 10px;
  font-size: var(--small-p-fs); */
}
/* .halfCircle {
  width: 50vh;
  height: 50vh;
  border-right: 1px solid var(--beige);
  border-left: none;
  border-bottom: none;
  border-top: none;
  border-radius: 50%;
} */
.right {
  height: 90vh;
  overflow: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
  border-left: 1px solid var(--darkGreen);
  border-right: 1px solid var(--darkGreen);
  padding: 2rem;
}
.project {
  height: 90vh;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  /* display: grid; */
  /* grid-template-columns: 1fr 1fr; */
}
