.footerContainer {
  /* position: fixed; */
  width: 100%;

  bottom: 0;

  background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
  background: transparent;
  /* z-index: 1; */
  height: 100vh;
  display: grid;
  place-content: center;
  color: white;
  padding: 7vw 5vw 1.5vw 5vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footerBg {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;

  /* background-color: red; */
  /* background-image: linear-gradient(to top, #09203f 0%, #537895 100%); */
  z-index: -50;
  height: 100vh;
  display: grid;
  place-content: center;
  color: white;
  padding: 7vw 5vw 1.5vw 5vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.headingsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.mainFooter {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  border-radius: 8px;
  align-items: end;
}
.footerInput {
  background-color: transparent;
  border: 0.5px solid white;
  padding: 0.7rem;
  border-radius: 8px;
  width: 100%;
}
.footerInput::placeholder,
.footerTextarea::placeholder {
  color: white;
}
.footerTextarea {
  background-color: transparent;
  border: 0.5px solid white;
  border-radius: 8px;
  padding: 0.7rem;
  width: 100%;
}
.linksContainer {
  display: flex;
  gap: 2rem;
}
.linkText {
  font-size: 0.8rem;
  font-weight: 100;
  color: rgba(255, 255, 255, 0.5);
}
.rightsDiv {
  font-size: 0.9rem;
  font-weight: 100;
  color: rgba(255, 255, 255, 0.5);
}
.creditsBtn {
  text-decoration: underline;
}
