.heroContainer {
  display: grid;
  place-content: center;
  background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
  height: 100vh;
  transition: background-image 1.5s ease;
  color: white;
}

.left,
.right {
  width: 100%;
  height: 100vh;
}
.left {
  grid-column: span 3;
}
.right {
  /* background-color: white; */
  /* background-color: rgb(147, 152, 146); */
}
.intro {
  position: absolute;
  height: 100vh;
  width: 100%;
  z-index: 3;
  display: grid;
  place-content: center;
}
.hiText {
  font-family: "Sacramento", cursive;
  transform: rotate(320deg);
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 700;
}
.introName {
  font-size: 6em;
  font-family: "Playfair Display", serif;
  font-family: "Cinzel Decorative", serif;
}
.nameBase {
  height: 20vh;
  width: 100vh;
  /* background-color: var(--pink); */
  display: grid;
  place-content: center;
}
.nameBaseText {
  /* color: var(--darkGreen); */
  line-height: 1.6;
  text-align: center;
  font-size: 1.5rem;
}
.topDash {
  display: inline-block;
  /* border-top: 1px solid black; */
  padding-top: 0.3rem;
}
.btmDash {
  display: inline-block;
  /* border-bottom: 1px solid black; */
  padding-bottom: 0.3rem;
}
/* .intro {
  position: relative;
  z-index: 2;
  display: grid;
  align-items: center;
  padding: 2rem;
  height: 100vh;
  background-color: transparent;

} */
/* .introDiv {
  text-align: start;
  width: 50vw;
}
.introHeading {
  font-size: 2.5em;
  color: var(--plum);
}
#typewriterCursor {
  animation: blink 1s linear infinite;
}
@keyframes blink {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 0%;
  }
} */
