.heading {
  text-align: center;
}
.projectsContainer {
  padding-inline: 2rem;
}
.project {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  z-index: 2;
}
.projectImageWrapper {
  border: 2px solid rgb(114, 34, 114);
  padding: 2rem;
  border-radius: 25px;
  display: grid;
  place-content: center;
  position: relative;
}
.overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 25px;
}
.revealImg {
  opacity: 0;
  border-radius: 25px;
  transition: all 0.3s;
}
.overlay .revealImg:hover {
  opacity: 1;
}
.techWrapper,
.linksWrapper {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}
.tech {
  border: 2px solid rgb(114, 34, 114);
  padding: 0.3rem;
  border-radius: 8px;
}
.projectImage {
  /* grid-column: 1/7; */
  border-radius: 25px;
  /* height: 400px; */
  /* width: 400px; */
  /* border: 2px solid plum; */
  /* padding: 2rem; */
}
.projectCaption {
  text-align: end;

  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.projectCaptionRight {
  text-align: end;
}
.projectCaption:hover {
  /* background-color: rgba(221, 160, 221, 0.2);
  border: 2px solid rgba(221, 160, 221, 0.5); */
  /* border-radius: 25px; */
  /* transition: all 0.7s; */
  /* grid-column: 6/-1; */
  /* border: 2px solid plum; */
}
.projectImage,
.projectCaption {
  /* grid-row: 1/2; */
}
.icon {
  width: 1.5em;
  height: 1.5em;
}
