.project {
  position: relative;
}
.projLink {
  padding: 4rem;
  display: block;
}

.projLink:hover .arrow {
  transform: translateY(-0.35rem);
  color: rgb(95, 203, 151);
}
.projectTitleContainer {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.projText {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.arrow {
  transform: translateY(0rem);
  transition: transform 0.3s ease-in-out;
}
.projectTitle {
  font-size: 2rem;
  text-transform: uppercase;
}
.techWrapper {
  display: flex;
  gap: 0.5rem;
}
.tech {
  padding: 0.5rem;
  border-radius: 25px;
  font-size: var(--small-p-fs);
  /* background-color: rgba(95, 203, 151, 0.4); */
  color: rgb(95, 203, 151);
}
.noPreview {
  height: 0px;
  visibility: hidden;
  opacity: 0;
}
.projPreview {
  visibility: visible;
  opacity: 1;
  position: absolute;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 3px;
  padding: 0.5rem;
  max-width: 25rem;
  transition: visibility 0.3s, opacity 0.3s;
}
.slideshow-image {
  width: 100%;
  height: auto;
  transition: opacity 0.5s ease-in-out;
  border-radius: 5px;
}
