.heading {
  text-align: center;
}
.projectsContainer {
  position: relative;
  padding-inline: 2rem;
  z-index: 2;
  background-color: var(--bg-black);
}
.projectsWrappers {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}
.project {
  border: 5px solid var(--DPurple);
  border-radius: 25px;
  padding: 1rem;
  height: 500px;
  position: relative;
  background-image: url("../../../public/Screenshot\ 2023-10-22\ at\ 8.43.49\ PM.png");
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.2);
  background-blend-mode: multiply;
}

.projectReveal {
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.project:hover .projectReveal {
  opacity: 1;
}

.projectTitle {
  text-transform: uppercase;
  font-size: var(--large-h2-fs);
}
.projectDescription {
  text-align: justify;
}
.techWrapper {
  display: flex;
  gap: 0.5rem;
}
.tech {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0.3rem;
  border-radius: 10px;
  font-size: var(--small-p-fs);
}
.icon {
  width: 1.2em;
  height: 1.2em;
  transition: transform 0.4s ease-in-out;
}
.LearnMoreLink {
  display: flex;
  background-color: black;
  padding: 0.6rem;
  border-radius: 10px;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}
.LearnMoreLink:hover.icon {
  transform: translateY(-25%);
}


.techWrapper,
.linksWrapper {
  display: flex;
  gap: 1rem;
}

.projectImage {
  border-radius: 25px;
  height: 100%;
}

.icon {
  width: 1.5em;
  height: 1.5em;
}
