.arrow {
  transform: translateY(0rem);
  transition: transform 0.3s ease-in-out;
}

.slideshow-image {
  width: 100%;
  height: auto;
  transition: opacity 0.5s ease-in-out;
  border-radius: 5px;
}

.projectLink:hover {
  opacity: 1 !important;
  transition: opacity 0.8s;
}
