@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins&family=Roboto&family=Sacramento&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --large-h2-fs: 1.5em;
  --small-p-fs: 0.8em;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
html {
  box-sizing: border-box;
  font-size: 100%;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  color: rgb(var(--foreground-rgb));
  background: #041c32;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  /* cursor: grab; */
}
.star-canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
}
/* font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Sacramento', cursive; */
/* CURSOR STYLES */
#cursor {
  display: none;
  height: 25px;
  width: 25px;
  background-color: plum;
  border-radius: 50px;
  position: absolute;
  z-index: 2;
  border: 1px solid black;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  pointer-events: none;
  box-shadow: 0 0 20px #d77bd7, 0 0 60px #d77bd7, 0 0 120px #d77bd7;
}
.intro {
  position: relative;
  /* z-index: 2; */
  display: grid;
  align-items: center;
  padding: 2rem;
  height: 100vh;
}
.intro-div {
  text-align: start;
  width: 50vw;
}
.intro-heading {
  font-size: 2.5em;
  color: plum;
}
#typewriter-cursor {
  animation: blink 1s linear infinite;
}
@keyframes blink {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 0%;
  }
}
