@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --primary-foreground: #e0e0e0b3;
  --secondary-foreground: #e0e0e0;
  --accent: #00b38b;
  --accent-hover: #5aecc010;
}

html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  background-color: #04030c;
}

body {
  color: var(--primary-foreground);
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background: #04030c;
  /* background:
    -webkit-radial-gradient(80% 80% at 50% 50%, #0f0c2978 0%, #04030c),
    -webkit-linear-gradient(to right, #04030c, #04030c, #04030c);
  background: radial-gradient(80% 80% at 50% 50%, #0f0c2978 0%, #04030c),
    linear-gradient(to right, #04030c, #04030c, #04030c); */
}

.cursor {
  background: -webkit-radial-gradient(
    circle,
    rgba(32, 28, 65, 0.47) 0%,
    rgba(4, 3, 12, 0) 70%
  );
  background: -moz-radial-gradient(
    circle,
    rgba(32, 28, 65, 0.47) 0%,
    rgba(4, 3, 12, 0) 70%
  );
  background: radial-gradient(
    circle,
    rgba(32, 28, 65, 0.47) 0%,
    rgba(4, 3, 12, 0) 70%
  );
}

h1 {
  font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  color: var(--secondary-foreground);
}

img {
  width: 100%;
}

@keyframes wave {
  0%,
  100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(20deg);
  }
  75% {
    transform: rotate(-20deg);
  }
}
.animate-wave {
  display: inline-block;
  transform-origin: 70% 70%;
}
.about-section:hover .animate-wave {
  animation: wave 0.5s ease-in-out infinite;
}
