.header {
  background-color: transparent;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  padding: 0.5rem 2rem;
  z-index: 4;
  transform: translateY(-100%);
}
